@charset "utf-8";
/* CSS Document */

.adminWrap {
	width:750px;
	margin:0 auto;
	border: 1px solid #cecece;
	padding-top:5px;
	padding-left:20px;
	padding-right:20px;
	padding-bottom:20px;
	margin-top:25px;
	margin-bottom:25px;
	text-align:left;
}

.adminPrimaryBGColor {
	background-color:#f7941e;
}
.adminSecondaryBGColor {
	/* background-color:#000; */
}
.adminPrimaryTxtColor {
	color:#115a7f;
}

a:link, a:visited {
	color:#115a7f;
	text-decoration: none;
}
a:hover, a:active {
	color:#115a7f;
	text-decoration: underline;
}

a.aNav:link, a.aNav:visited {
	float:left;
	padding-left: 15px;
	padding-right: 15px;
	padding-top: 16px;
	padding-bottom: 16px;
	text-decoration: none;
	background-color:#cfcfcf;
	color:#115a7f;
	margin-right:1px;
}
a.aNav:hover, a.aNav:active {
	float:left;
	padding-left: 15px;
	padding-right: 15px;
	padding-top: 16px;
	padding-bottom: 16px;
	color:#ffffff;
	text-decoration: none;
	background-color:#115a7f;
	margin-right:1px;
}

a.aNavOn:link, a.aNavOn:visited, a.aNavOn:hover, a.aNavOn:active {
	float:left;
	padding-left: 24px;
	padding-right: 24px;
	padding-top: 16px;
	padding-bottom: 16px;
	color:#fff;
	text-decoration: none;
	background-color:#115a7f;
	margin-right:1px;
}

.font11px {
	font-size:0.917em;
}

.adminNav {
	padding-bottom:15px;
	margin-top: 20px;
}
.adminSubNav {
	height:15px;
	padding-bottom:15px;
	color:#999;
	text-align: center;
}
.navSubNav {
	margin-top:0px;
	margin-bottom:15px;
}
/* admin sub nav style in admin primary color */
a.sNav:link, a.sNav:visited {
	text-decoration: none;
	color:#115a7f;
}
a.sNav:hover, a.sNav:active {
	color: #115a7f;
	/* text-decoration: underline; */
	border: 2px solid #115a7f;
	padding: 2px;
}

/* admin button style */
a.adminButton:link, a.adminButton:visited {
	padding-left:15px;
	padding-right:15px;
	padding-top:5px;
	padding-bottom:7px;
	color:#fff;
	text-decoration: none;
}
a.adminButton:hover, a.adminButton:active {
	padding-left:15px;
	padding-right:15px;
	padding-top:5px;
	padding-bottom:7px;
	color:#fff;
	text-decoration: none;
}

.adminBox {
	padding:20px;
	margin-top:20px;
	border:#999 solid 1px;
	
}

.adminCol1 {
	float:left;
	width:250px;
}
.adminCol2 {
	float:left;
	width:250px;
}
.adminCol2a {
	float:left;
	padding-right:25px;
}
.adminCol2b {
	float:left;
}
.adminCol3 {
	float:right;
	text-align:right;
}

.adminAddLeft {
	float:left;
	width:350px;
}
.adminAddRight {
	float:right;
	width:350px;
	/*border:#000 solid 1px;*/
}
.highlight { background-color: yellow }