@import url('init.css');

body {
	font-family:Verdana, Geneva, sans-serif;
	font-size:0.75em;
	color:#000;

}
.bodyBkg {
	/* background-image: url(../images/bkg_body.gif); */
	/* background-repeat: repeat-x; */
	/* background-position: left top; */
}
.bodyBkgLogin {
	background-image: url(../images/bkg_body_login.gif);
	background-repeat: repeat-x;
	background-position: left top;	
}.teamFooterAthlete
/* paragraphs */
p {
	margin-top:1.3em;
	margin-bottom:1.3em;
	line-height:1.333em;
}

/* headers */

.headerWrap {
    width: 80%;
}

.col.sharemedia .fa-5x {
    color: #fda527;
    padding: 20px 0;
}

a h1 {
    color: #275a7e;
}

button.shareMediaButton {
    border: 0;
    padding: 10px 30px;
    border-radius: 10px;
    background: #fda527;
    color: white;
    font-size: 22px;
}

h1 {
	margin-top:0.5em;
	margin-bottom:0.5em;
	font-size:2em;
	letter-spacing:-1px;
}
h2 {
	margin-top:0.3em;
	margin-bottom:0.4em;
	font-size:1.5em;
	font-weight:normal;
	letter-spacing:-1px;
}

ul {
	margin-left:20px;
}

li {
	padding-top:3px;
	padding-bottom:3px;
}

.fieldEmpty {
	background-color:#f9c85f;
}
.fieldNotEmpty {
	background-color:#fffff;
}

.clear {
	clear:both;
}

.alert {
	color:#F00;
}
.green {
	color:#090;
}
/* alternating rows background colors */
.bg1 {
	background-color: #f0efef;
}
.bg2 {
	background-color: #fff;
}

.txtBlack {
	color:#000;
}

.floatRight {
	float:right;
}

.returnLink {
	float:right;
	padding-top:10px;
}
.font10px {
	font-size:0.833em;
}
.font11px {
	font-size:0.917em;
}
/* ------------------------------------------------------------- */

.pageWrap {
	width:100%;
	margin:0 auto;
}

.contentWrap {
    padding: 0 20% 5% 20%;    
}

/* ------------------------------------------------------------- */
/* campaign sports header */

header {
    background: #235983;
}

.header {
	width:980px;
	height:102px;
	background-image: url(../images/bkg_header.gif);
	background-repeat: no-repeat;
	background-position: right top;	
}
.logo {
	padding-top:10px;
	padding-left:65px;
}

.contactInfo li i {
    color: #f7941e;
    margin-right: 5px;
}
ul.contactInfo {
    color: white;
    list-style: none;
    font-size: 18px;    
}

table.athletestable td {
    background: #e7f4ff;
    border: 3px solid white;
    text-align: center;
}

table.athletestable td a:link {
    color: #115a7f !important;
    font-size: 16px;
}

.conrightcon {padding: 5px 10px;}

.conrightcon form#frm {
    border-top: 1px solid #31597c;
    border-bottom: 1px solid #31597c;
    padding: 10px 0;
}

.col-9 input {
    border: 0 !important;
}

#frm .formElement:nth-child(even) {
    background: #e7f4ff !important;
}

ul.navbar-nav.mr-auto.socialIcons {
    flex-direction: row;
}

ul.navbar-nav.mr-auto.socialIcons li {
    font-size: 18px;
    color: white;
    padding: 10px;
}

ul.navbar-nav.mr-auto.socialIcons li a {
    color: white;
}

.col.headerLeft, .col.headerMiddle, .col.headerRight  {
    display: flex;
    align-items: center;
    padding: 0 !important;
}


/* ------------------------------------------------------------- */
/* login masthead */
.masthead {
	position:relative;
	width:980px;
	height:162px;
}

/* ------------------------------------------------------------- */
.primaryNav {
	width:980px;
	height:43px;
	display:block;
	background-color:#115a7f;

}


/* ------------------------------------------------------------- */

.pageContentWrap {
	width:944px;
	padding:18px;
}
.innerPageContentWrap {
	width:908px;
	padding:18px;
}
.pageContent {
	width:808px;
	padding-left:50px;
	padding-right:50px;
	padding-top:30px;
	padding-bottom:30px;
	background-color:#FFF;
	min-height:500px;
}

.contentLeft {
	float:left;
	width:498px;
}
.contentRight {
	float:right;
	width:310px;
}
.contentFull {
	
}
.contentLogin {
	width:700px;
	margin:0 auto;
	background-image: url(../images/bkg_right_bar.gif);
	background-repeat: repeat-x;
	background-position: center top;	
	margin-left:90px;
	margin-top:13px;
	padding-top:30px;
}

.loginContent {
	
}
.loginContentCol1 {
	float:left;
	width:172px;
	text-align:right;
}
.loginContentCol2 {
	float:left;
	width:360px;
}

.loginTextField {
    width: 340px;
    height: 25px;
    padding: 10px;
    border: 1px solid #d6d6d6;
    color: #115a7f;
    font-size: 14px;
    margin: 20px;
}

.loginTxt {
	color:#f7941e;
	font-size:1.167em;
}

/* button style */
a.loginButton:link, a.loginButton:visited {
	padding-left:15px;
	padding-right:15px;
	padding-top:5px;
	padding-bottom:7px;
	color:#fff;
	text-decoration: none;
	background-color:#f7941e;

}
a.loginButton:hover, a.loginButton:active {
	padding-left:15px;
	padding-right:15px;
	padding-top:5px;
	padding-bottom:7px;
	color:#fff;
	text-decoration: none;
	background-color:#f7941e;
	margin-left:130px;
}





/* team header */
.teamHeader {

}
.teamLogo {
	width:130px;
	height:130px;
	display:block;
	overflow:hidden;
}
.teamTitle {
	font-size:4em;
}


.topContent {
	border-bottom-width: 1px;
	border-bottom-style: solid;
	border-bottom-color: #cecece;	
}
.topContentNoBorder {
	
}

.welcomeBar {
	
}
.welcomeBarCol1 {
	float:left;
	width:520px;
}
.welcomeBarCol2 {
	float:right;
	width:280px;
	padding-top:18px;
	text-align:right;
}
.welcomeBarLogin {
	text-align:center;
	padding-top:10px;
}


.actionBar {
	padding-bottom:20px;
}


/* add contact button */
a.addContactButton:link, a.addContactButton:visited {
	display:block;
	padding-left:25px;
	text-decoration: none;
	background-image: url(../images/icon_add_item.gif);
	background-repeat: no-repeat;
	background-position: left top;
	margin-top:15px;
	font-weight:bold;
}
a.addContactButton:hover, a.addContactButton:active {
	display:block;
	padding-left:25px;
	text-decoration: none;
	background-image: url(../images/icon_add_item.gif);
	background-repeat: no-repeat;
	background-position: left top;
	margin-top:15px;
	font-weight:bold;
}

.contentFullData {
	border-top-width: 1px;
	border-top-style: solid;
	border-top-color: #cecece;
	padding-top:10px;
}

.contentLeftData {
	border-top-width: 1px;
	border-top-style: solid;
	border-top-color: #cecece;
	padding-top:10px;
}


.suggestionsWrap {
	float:right;
	width:230px;
	border: 1px solid #cecece;
	padding-top:5px;
	padding-left:20px;
	padding-right:20px;
	padding-bottom:20px;
	margin-bottom:25px;
}
.suggestList li {
	padding-top:5px;
	padding-bottom:5px;
}

.centerText {
	text-align:center;
}

.loginWrap {
	width:300px;
	margin:0 auto;
	border: 1px solid #cecece;
	padding-top:5px;
	padding-left:20px;
	padding-right:20px;
	padding-bottom:20px;
	margin-top:25px;
	margin-bottom:25px;
	text-align:center;
}

.textArea {
	border:1px solid #cecece;
	color:#666;
	font-family:Verdana, Geneva, sans-serif;
	margin-bottom:12px;
	padding-top:4px;
	padding-left:5px;
	padding-right:5px;
	background-color:#fff;
}

.textField {
	height:20px;
	border:1px solid #cecece;
	color:#666;
	font-family:Verdana, Geneva, sans-serif;
	margin-bottom:12px;
	padding-top:4px;
	padding-left:5px;
	padding-right:5px;
	background-color:#fff;
}
.txtTextArea {
	width:480px;
	font-size:13px;
	border:1px solid #cecece;
	color:#666;
	font-family:Verdana, Geneva, sans-serif;
	margin-bottom:12px;
	padding-top:4px;
	padding-left:5px;
	padding-right:5px;
	background-color:#fff;
}
.textFieldLogin {
    background-color: #e7e6e6 !important;
    height: 40px;
    width: 100%;
    box-sizing: border-box !important;
    border-radius: 8px;
    border: 1px solid #cecece;    
	color:#666;
	font-family:Verdana, Geneva, sans-serif;
	margin-bottom:12px;
	padding-top:4px;
	padding-left:5px;
	padding-right:5px;
	background-color:#fff;
}

.textFieldLoginFlagged {
	width:240px;
	height:20px;
	border:1px solid #cecece;
	color:#115a7f;
	font-family:Verdana, Geneva, sans-serif;
	margin-bottom:12px;
	padding-top:4px;
	padding-left:5px;
	padding-right:5px;
	background-color:#fbe590;
}

/* team button style */
a.teamButton:link, a.teamButton:visited {
	padding-left:15px;
	padding-right:15px;
	padding-top:5px;
	padding-bottom:7px;
	color:#fff;
	text-decoration: none;
}
a.teamButton:hover, a.teamButton:active {
	padding-left:15px;
	padding-right:15px;
	padding-top:5px;
	padding-bottom:7px;
	color:#fff;
	text-decoration: none;
}

.textFieldSWR {
	width:300px;
	height:20px;
	border:1px solid #999;
	color:#666;
	font-family:Verdana, Geneva, sans-serif;
	margin-bottom:0px !important;
	padding-top:4px;
	padding-left:5px;
	padding-right:5px;
	background-color: #fff0 !important;
}

.conrightcon #frm .formElement {
    padding: 10px;
}

.container .col .suggestionsWrap form .block1 .selectFieldSWR {
    width: 100% !important;
    border: 1px solid #e4e4e4;
    padding: 10px;
    font-size: 16px;
}

.container .col .suggestionsWrap form .block1 input {
    padding: 15px;
    margin: 0 10px;
    border: 1px solid #e4e4e4;
}

.container .col .suggestionsWrap form .block1 {
    font-size: 16px;
}

.container .col .suggestionsWrap form .block1 .teamButton {
    padding: 15px 25px;
}

.container .col .suggestionsWrap {
    width: 100%;
    padding-left: 20px;
    padding-right: 20px;
    padding-bottom: 20px;
    margin: auto;
    align-items: center;
}

.container .col .suggestionsWrap p {
    color: #f79646;
    font-size: 22px;
}

.selectFieldSWR {
	border:1px solid #999;
	color:#666;
	font-family:Verdana, Geneva, sans-serif;
	margin-bottom:12px;
	padding-top:4px;
	padding-left:5px;
	padding-right:5px;
	padding-bottom:4px;
	background-color:#FFF;
}

.textFieldSWRFlagged {
	width:300px;
	height:20px;
	border:1px solid #999;
	color:#666;
	font-family:Verdana, Geneva, sans-serif;
	margin-bottom:12px;
	padding-top:4px;
	padding-left:5px;
	padding-right:5px;
	background-color:#fbe590;
}
.selectFieldSWRFlagged {
	border:1px solid #999;
	color:#666;
	font-family:Verdana, Geneva, sans-serif;
	margin-bottom:12px;
	padding-top:4px;
	padding-left:5px;
	padding-right:5px;
	padding-bottom:4px;
	background-color:#fbe590;
}



.registerWrap {
	width:380px;
	margin:0 auto;
	padding-top:5px;
	padding-left:20px;
	padding-right:20px;
	padding-bottom:20px;
	margin-top:25px;
	margin-bottom:25px;
	text-align:left;
} 
.registerButton {
	padding-right:50px;
	text-align:center;
}

.donateWrap {
	width:770px;
	padding-top:5px;
	padding-left:20px;
	padding-right:20px;
	padding-bottom:20px;
	margin-top:25px;
	margin-bottom:25px;
	text-align:left;
} 

.paymentWrap {
	position:relative;
}
.paymentRow {
	width:100%;
	padding-bottom:20px;
	padding-top:20px;
	border-bottom-width: 1px;
	border-bottom-style: solid;
	border-bottom-color: #CCC;	
}
.paymentRowCol1 {
	float:left;
	width:150px;
}
.paymentRowCol2 {
	float:left;	
	width:200px;
}

.payByCheckBox {
	position:absolute;
	width:290px;
	padding:20px;
	top:-8px;
	left:440px;
	border: 1px solid #333;
	background-color:#fff;
}
.creditCards {
	float:right;
	width:259px;
	margin-top:-45px;
	margin-right:-25px;
}

.bulletList {
	clear:both;
	padding-top:15px;
	padding-bottom:15px;
}
.bulletListCol1 {
	float:left;
	width:45px;
	padding-left:25px;
}
.bulletListCol2 {
	float:left;	
	width:510px;
	padding-top:15px;
}

.bulletListSm {
	clear:both;
	padding-top:15px;
	padding-bottom:15px;
	
}
.bulletListSmCol1 {
	float:left;
	width:26px;
	padding-left:50px;
}
.bulletListSmCol2 {
	float:left;	
	width:500px;
}


/* submit button */
a.submitInfoSWR:link, a.submitInfoSWR:visited {
	float:right;
	width:202px;
	height:35px;
	display:block;
	text-decoration: none;
	background-image: url(../images/btn_submit_info_swr.gif);
	background-repeat: no-repeat;
	background-position: center center;
	margin-top:15px;
	margin-right:-15px;
	float:right;
}
a.submitInfoSWR:hover, a.submitInfoSWR:active {
	float:right;
	width:202px;
	height:35px;
	display:block;
	text-decoration: none;
	background-image: url(../images/btn_submit_info_swr.gif);
	background-repeat: no-repeat;
	background-position: center center;
	margin-top:15px;
	margin-right:-15px;
	float:right;
}

.formElement {
	clear:both;
}
.formElementCol1 {

}
.formElementCol2 {

}

.relationRow {
	width:100%;
	padding-bottom:10px;
	padding-top:20px;
	border-bottom-width: 1px;
	border-bottom-style: solid;
	border-bottom-color: #CCC;	
}
.relationPerson {
	clear:both;
	font-size:1.167em;
	font-weight:bold;
	padding-bottom:10px;
}
.relationshipElement {
	clear:both;
}
.relationshipElementCol1 {
	float:left;
	width:310px;
}
.relationshipElementCol2 {
	float:right;
	width:180px;
}
/* ----------------------------------------- */
/* coach dashboard styles */

.coachNav {
	padding-bottom:20px;
}


.campaignProgress {
	
}
.campaignProgressTitleBar {
	
}
.campaignProgressTitleBarCol1 {
	float:left;
	
}
.campaignProgressTitleBarCol2 {
	float:right;
	
}

.pagination {
	text-align:center;
}


.helpNotes {
	font-size:0.917em;
	color:#666;
}
.colorPickerIcon {
	padding-top:3px;
	padding-right:10px;
	float:right;
}


.campaignStats {
	padding-top:10px;
	padding-bottom:30px;
}
.campaignStatsCol1 {
	float:left;
	width:150px;
	text-align:center;
	border-right-width: 1px;
	border-right-style: solid;
	border-right-color: #CCC;
}
.campaignStatsCol2 {
	float:left;
	width:150px;
	text-align:center;	
	border-right-width: 1px;
	border-right-style: solid;
	border-right-color: #CCC;
}
.campaignStatsCol3 {
	float:left;
	width:150px;
	text-align:center;	
}

.statsNum {
	font-size:1.333em;
	font-weight:bold;
	padding-top:10px;
	padding-bottom:10px;
}
/* ----------------------------------------- */
/* footer */
.footer {
	width:100%;
	border-top-width: 7px;
	border-top-style: solid;
	border-top-color: #115a7f;	
}
.footerContent {
	width:980px;
	margin: 0 auto;
	text-align:center;
}

/* link */
a.foot:link, a.foot:visited {
	color:#115a7f;
	text-decoration: none;
}
a.foot:hover, a.foot:active {
	color:#c71717;
	text-decoration: underline;
}

.logout {
	float:right;
	padding-top:10px;
	padding-bottom:10px;
}
.sslBadge {
	float:right;
}
.playerSSLSeal {
	float:right;
}

.genFloatL {
	float:left;
}.genFloatR {
	float:right;
}


.navSubNav {
	margin-top:0px;
	margin-bottom:0px;
}

.shareBar {
	width:788px;
	text-align:right;
	padding:10px;
	background-color:#dbdcdd;
	margin-top:10px;
	margin-bottom:50px;
}
.shareCol1 {
	width:515px;
	float:left;
	text-align:right;
}
.shareCol2 {
		width:255px;
	float:right;
	text-align:right;
}
.donateAlso {
	width:808px;
	padding-top:20px;
	padding-bottom:20px;
	
}
.imageBuffer {
	height:450px;
	display:block;
	
}
.teamSponsor {
	width:808px;
	height:105px;
	display:block;
}
.sponsorInner {
	
	
}

.teamFooterCoach.iconnav {
    display:none;
}  

.mobi-help {display: none;}


@media (min-width: 768px) {
    .container {
        max-width: 100% !important;
    }
}

.conrightcon form#frm a#frmSubmit {
    background: #f79646;
    padding: 20px;
    border-radius: 15px;
}

.conrightcon form#frm p {
    display: flex;
    justify-content: center;
}


.brochure-btn {
    display: flex;
    justify-content: center;
} 

button.athlete-del {
    background: #ffc000;
    padding: 10px 30px;
    font-size: 16px;
    border-radius: 10px;
    border: 0;
    color: white;
}


.teamHeader.teamHeaderAthlete.iconnav .row .col5 {
    width: 25%;
}

.teamHeaderAthlete .fa-7x, .teamFooterAthlete .fa-7x {
    filter: unset !important;
}


button.napproved {
    background: #275a7e;
}

h3.ptitle {
    color: #275a7e; font-size: 16px;
}

.brochure-btn button {
    padding: 15px 30px;
    font-size: 36px;
    border-radius: 15px;
    border: 0;
    color: white;
}

.brochure-btn .approved {
    background: #ffc000;
}

.ptitle {
    color: #275a7e; 
}

.brochure-btn button {
    padding: 10px 30px;
    font-size: 16px;
    border-radius: 10px;
    border: 0;
    color: white;
}

.fa-7x {
    max-width: 120px;
}

.mobi-help.show {
    display: block !important;
    font-size: xx-large;
    color: #007ab7;    
}

.mobi-help a {
    padding: 0 15px;
    color: #ffc000 !important;
}    


table#table {
    font-size: 28px;
}

.athlete-selectuser {
    margin: auto;
}


.athlete-selectuser-form {
    border: 2px solid #f1f1f1;
    padding: 20px;
    text-align: center;
}

.athlete-selectuser {
    padding: 20px;
}

.brochure-btn button {
    margin: 10px;
}

.teamFooterAthlete.iconnav {
    background: #31597c;
}

.teamFooterAthlete.iconnav {
    justify-content: center;
    background: #31597c;
    display: flex;
}

.teamFooterAthlete.iconnav .row {
    width: 100%;
    padding: 20px;
}

.teamFooterAthlete .fa-7-xwrapper {
    background: #31597c;
}

.teamFooterAthlete a:link {
    color: white;
}

.teamFooterAthlete.iconnav .row {
    justify-content: center;
    background: #31597c;
    display: flex;
}


h2.mb-0 {
    display: flex;
    justify-content: space-between;
}

.teamFooterADonor.iconnav .row {
    display: flex;
    justify-content: center;
}

@media (max-width: 992px) {
    
    .teamFooterADonor.iconnav .row {
        display: flex;
        justify-content: space-evenly;
        background: #31597c;
        padding: 20px;
    }    
    
    .teamFooterADonor h1 {
        color: white;
    }    
    
        
    .teamFooterADonor.iconnav .fa-7-xwrapper {
        background: #31597c;
    }    
    
    .mview {
        display: block;
    }
    
    .dview {
        display: none;
    }    
        
    .teamFooterAthlete {
        display: block;
    }    
    

    .teamHeaderAthlete {
        display: none;
    }

    h3.ptitle {
        color: #275a7e; font-size: 36px;
    }
    
    .welcomeBar h1 {
        font-size: 40px;
    }

    table.athletestable td a:link {
        color: #115a7f !important;
        font-size: 23px;
    }
    
    table.athletestable {
        font-size: 22px;
    }    
    
    h1.ptitle {
        font-size: 40px;
        color: #275a7e;
    }    
    .conrightcon form#frm {
        border-top: 1px solid #31597c;
        border-bottom: 1px solid #31597c;
        padding: 10px 0;
        font-size: 22px;
    }    
    table {
        font-size: 34px;
    }    
    .footer {
        display:none;
    }         
    .fa-7-xwrapper {
        background: white;
    }    
    .teamFooterCoach.iconnav .row{
        padding: 0 25px;
    }        
    
    .teamFooterCoach.iconnav .col5{
        padding: 20px;
    }    
    .teamFooterCoach.iconnav a:link {
        color: white;
    }        
    .teamFooterCoach.iconnav .fa-7x {
        filter: invert(82%) sepia(252%) saturate(380%) hue-rotate(343deg) brightness(380%) contrast(72%);
    }    
        
    .teamFooterCoach.iconnav {
        background: #275a7e;
        display:block;
        overflow: hidden;
    }    
    
    .teamHeader.teamHeaderCoach.iconnav {
    display: none;
    }
    
    .conleft, .conright {
        width: 100%;
    }    
    .socialIcons {
        margin: 0;
        padding: 0;
        text-align: center;
        color: white;
    }    
    .mobi-help a {
        padding: 0 15px;
        color: #ffc000 !important;
    }    
    .mobi-help {
        display: block;
        font-size: xx-large;
        color: #007ab7;
    }
    .navbar-dark .navbar-toggler {
        color: white !important;
        border-color: rgba(255, 255, 255, 0.1);
        font-size: -webkit-xxx-large !important;
        border: 0;
    }    
    .navbar-dark .navbar-toggler {
        color: rgba(255, 255, 255, 0.5);
        border-color: rgba(255, 255, 255, 0.1);
        font-size: -webkit-xxx-large;
        border: 0;
    }    
    .wrapper {
        margin: auto;
        max-width: 100%;
    }    
    .headermobile {
        display: block;
    }
    .headerdesktop {
        display: none;
    }    
    .loginWrap {
        border: 0 !important;
        padding-bottom: 55px !important;    
        margin: 0 auto !important;
        width: 80% !important;
        max-width: 980px !important;  
    }
    ul.navbar-nav.mr-auto.socialIcons {
        flex-direction: row;
        justify-content: center;
        color: white;
        padding-top: 30px;        
    }    
}

@media (min-width: 993px) {
    
    
    .teamFooterADonor.iconnav {
        display: none;
    }    
    
    .mview {
        display: none;
    }
    
    .dview {
        display: block;
    }      
    
    .teamHeaderAthlete {
        display: block;
    }
    
    .teamFooterAthlete {
        display: none !important;
    }
    
    .headermobile {
        display: none;
    }
    .headerdesktop {
        display: flex;
    }    
    .headerLeft, .headerMiddle, .headerRight {
        align-self: center;
    }    
    .loginWrap {
        border: 0 !important;
        padding-bottom: 55px !important;    
        margin: 0 auto !important;
        width: 40% !important;
        max-width: 980px !important;  
    }
}
