@charset "utf-8";
/* CSS Document */

.updateLink {
	text-align:right;
	height:30px;
}

.donationUpdate, .collectionUpdate {
	display:none;
	text-align:center;
	padding-top:10px;
	margin-bottom:20px;
	border:1px solid #CCC;
}

