@charset "utf-8";
/* CSS Document */

.donationBarMainContainer {
	position:relative;
	height:160px;
}

.donationBarTitleLeft {
	float:left;
	text-align:left;
	width:230px;
}
.donationBarTitleRight {
	float:left;
	text-align:right;
	width:230px;
}

.donationBarContainer {
	position:absolute;
}

.donationBarContainer2 {
	position:absolute;
	margin-top:70px;
}

.ticDiv {
	float:left;
	height:70px;
	width:91px;
	border-right:1px solid #666;
}

.ticDiv1 {
	border-left:1px solid #666;
	width:90px;
}


.ticDivValue {
	position:absolute;
	margin-top:3px;
	width:60px;
	text-align:center;
}
.ticDivValue1 {
	text-align:left;
	left:-3px;
}
.ticDivValue2 {
	left:62px;
}
.ticDivValue3 {
	left:154px;
}
.ticDivValue4 {
	left:246px;
}
.ticDivValue5 {
	left:338px;
}
.ticDivValue6 {
	left:430px;
}



.donationBarLower {
	position:absolute;
	margin-top:15px;
    width: 459px;
	height:35px;
    background-color: #CCC;
	border-right:1px solid #666;
}
.donationBar {
	position:absolute;
	margin-top:15px;
    width: 459px;
	height:35px;
	border-left:1px solid #666;
}
.donationBarTotal {
	position:absolute;
    width: 459px;
	height:95px;
	border-right:1px solid #BBB;
}

.donationBarTotalValue {
	position:absolute;
	text-align:center;
	top:95px;
	right:-20px;
	padding:5px;
	border:1px solid #BBB;
}

