@charset "utf-8";
/* CSS Document */

#paymentDiv {
    display: none;
}

.paymentRowRadio {
	width:400px;
	margin-bottom:10px;
	margin-top:10px;
	padding-bottom:10px;
	padding-top:10px;
}

.preloader {
	text-align:center;
}

.jqmWindow {
    display: none;
    position: fixed;
    top: 17%;
    left: 50%;
    margin-left: -200px;
    width: 400px;
	height:100px;
    background-color: #EEE;
    color: #333;
    border: 1px solid black;
    padding: 12px;
}

.jqmOverlay { background-color: #000; }

.donationSSLSeal {
	float:right;
	padding-top:30px;
	margin-right:-40px;
}