/* init.css - set defaults */ 
html, body, div, span, object, iframe, img, p, a, 
h1, h2, h3, h4, h5, h6, pre, blockquote, 
ul, ol, li, dd, dl, sub, sup, table, 
fieldset, form, label, legend {margin:0px; padding:0px;}
html {font-size:100%;} /* prevents tiny type in IE when resizing font from browser menu */
table {font-size:1.0em;} /* fixes bug in IE5.x in windows that prevents the font size from inheriting into tables */
img {border:none;}
.clearFloatLeft {clear:left;}
.clearFloatRight {clear:right;}
.clearFloatBoth {clear:both;}
.clearNull {line-height:normal; margin:0px; padding:0px; height:0px;}
#topAnchorDiv {position:absolute; top:-100px; left:0px; width:5px; height:5px; z-index:1008;}