@charset "utf-8";
/* CSS Document */

.loginWindow {
	display:none;
	position:fixed;
	top:25%;
	left:50%;
	margin-left:-250px;
	width:450px;
	background-color:#CCC;
	color:#333;
	padding:20px;
}

#donationMain {
	width:350px;
	min-height:207px;
	margin-left:20px;
	padding:20px;
}

#contactList {
	display:none;
}

#noteOne {
	display:block;
}

#playerButtonsDiv {
	display:block;
}

.loginSSLSeal {
	float:right;
	padding-top:30px;
	margin-right:-130px;
}
.teamLoginSSLSeal {
	float:right;
	padding-top:50px;
	margin-right:-250px;
}