@charset "utf-8";
/* CSS Document */

/* pagination style */
.pagin {
	padding: 2px 0;
	margin: 0;
	font-family: 'Verdana', sans-serif;
	font-size: 7pt;
	font-weight: bold;
}
.pagin * {
	padding: 2px 6px;
	margin: 0;
}
.pagin a {
	border: solid 1px #666666;
	background-color: #EFEFEF;
	color: #666666;
	text-decoration: none;
}
.pagin a:visited {
	border: solid 1px #666666;
	background-color: #EFEFEF;
	color: #60606F;
	text-decoration: none;
}
.pagin a:hover, .pagin a:active {
	border: solid 1px #f7941e;
	background-color: white;
	color: #f7941e;
	text-decoration: none;
}
.pagin span {
	cursor: default;
	border: solid 1px #808080;
	background-color: #F0F0F0;
	color: #B0B0B0;
}
.pagin span.current {
	border: solid 1px #666666;
	background-color: #666666;
	color: white;
}			
