@charset "utf-8";
/* CSS Document */

.jqmWindow {
    display: none;
    position:absolute;
    top: 530px;
    left: 50%;
    margin-left: 40px;
    width: 195px;
	height:205px;
    background-color: #EEE;
    color: #333;
    border: 1px solid black;
    padding: 12px;
}

.jqmOverlay { background-color: #000; }
