html, body {
    height: 100%;
}

.wrapper {
    margin: auto;
    max-width: 80%;
}





@media (max-width: 992px) {
    .fullwidth { display: block !important; }
    
    .conleft, .conright { width: 100% ;}  
    
    .headermobile {
        display: block;
    }
    .headerdesktop {
        display: none;
    }    
    .loginWrap {
        border: 0 !important;
        padding-bottom: 55px !important;    
        margin: 0 auto !important;
        width: 80% !important;
        max-width: 980px !important;  
    }
    ul.navbar-nav.mr-auto.socialIcons {
        flex-direction: row;
        justify-content: center;
        color: white;
        padding-top: 30px;        
    }    
}

@media (min-width: 993px) {
    .headermobile {
        display: none;
    }
    .headerdesktop {
        display: flex;
    }    
    .headerLeft, .headerMiddle, .headerRight {
        align-self: center;
    }    
    .loginWrap {
        border: 0 !important;
        padding-bottom: 55px !important;    
        margin: 0 auto !important;
        width: 40% !important;
        max-width: 980px !important;  
    }
}




.col.footerContentTopleft {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.footerContentTop .socialIcons {
    text-align: left;
    margin: 30px;
}

.logintitle {
    color: #115A7F;
    font-size: 24px;
    padding: 30px 10px;
    font-family: Franklin Gothic Medium,Franklin Gothic,ITC Franklin Gothic,Arial,sans-serif;
    letter-spacing: 0.1px;
}

.cdash td {
    background: aliceblue;
    border: 2px solid white;
}

.cdash tr {
    color: #31597c;
}

.pContent.don .suggestionsWrap {
    width: 100%;
}

.pContent.don #playerQuick {
    width: 100%;
    border: 1px solid gainsboro;
    padding: 10px;
}

.pContent.don input {
    border: 1px solid gainsboro;
    padding: 10px;
    margin: 0 5px;
}

.pContent.don .teamButton {
    padding: 10px 50px;
}

.pContent.don .suggestionsWrap p {
    color: #f79646;
    font-size: 28px;
}

.pContent {
    width: 100%;
    padding: 20px 50px !important; 
    background-color: #FFF;
    box-sizing: border-box;

}

.pageContent .registerWrap {
    width: 100% !important;
}    

.textFieldSWR {
    width: 100% !important;
    height: 20px;
    border: 1px solid #999;
    color: #666;
    font-family: Verdana, Geneva, sans-serif;
    margin-bottom: 12px;
    padding-top: 4px;
    padding-left: 5px;
    padding-right: 5px;
    background-color: #FFF;
}

.welcomeBarLogin {
    text-align: left !important;
    padding-top: 10px;
}

.athletename {
    padding: 20px !important;
    border: 1px solid #e4e4e4 !important;
}

input.textFieldLogin {
    background-color: #e7e6e6 !important;
    height: 40px;
    width: 100%;
    box-sizing: border-box !important;
    border-radius: 8px;
    border: 1px solid #cecece;
}

input.textFieldLogin::placeholder {
    color: #cecece;
    font-size: 16px;
    padding-left: 10px;
}

.teamHeaderCoach {
    color: #31597c;
}

.teamHeaderCoach h1 {
    font-size: 100%;
    font-weight: bolder;
}

.teamHeaderCoach a:link {
    color: #31597c;
}

.campaignProgress {
    width: 80%;
}

#frmLogin button {
    display: block;
    background-color: #ffc000;
    color: white;
    padding: 14px 28px;
    font-size: 16px;
    cursor: pointer;
    text-align: center;
    border-radius: 8px;
    border: 1px solid #cecece;
    margin: auto;
}

.iconnav .fas {
    color: #FDA527;
    padding: 10px;
}

.fullwidth {
    width: 100%;
    display: flex;
    margin: auto;
}



.nameArea {
    height: 100%;
    display: flex;
    justify-content: center;
    flex-direction: column;
    color: #31597c;
}

.nameArea span {
    color: #31597c !important;
}

.pbar-wrapper {
    background: url(https://csjoc.com/v5/images/imgpsh_fullsize2.jpg);
    width: 100%;
    min-height: 600px;
    height: 100%;
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    margin: auto;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-flow: column;
}

.donationBarTotal2 {
    position: absolute;
    width: 459px;
    height: 95px;
    border-right: 0px solid #BBB;
}


.donationBar2 {
    position: absolute;
    width: 459px;
    height: 25px;
    border: 4px solid #ffffff;
    border-radius: 10px;
}


.donationBarLower2 {
    position: absolute;
    width: 100%;
    height: 25px;
    background-color: #ffffff;
    border: 4px solid #ffffff;
    border-radius: 10px;
}

.donationBarMainContainer2 {
    position: relative;
}


.donationBarTitleLeft2 {
    float: left;
    text-align: left;
    width: 230px;
    font-size: 18px;    
    color: #fff;
}

.pagin {
    padding: 2px 0;
    margin: 0 auto !important;
    font-family: 'Verdana', sans-serif;
    font-size: 7pt;
    font-weight: bold;
}

.col5 {
    width: 20%;
    box-sizing: border-box;
}

.teamHeader {
    padding: 5px;
}

/* structure */
.conleft {
    width:50%;
}

.conright {
    width: 50%;
    display: flex;
    flex-direction: column;
}

/* end of structure */



/* start of icons */
.fa-7x {
    width: 100%;  
    filter: invert(32%) sepia(5%) saturate(5580%) hue-rotate(167deg) brightness(58%) contrast(100%);
}


/* end of icons */