.v2Bar{
	display: none !important;
}
.pageContentWrap {

	width:100%;

	padding:0;

}


.innerPageContentWrap {

	width:100%;

	padding:0;

}

.pageContent{
	width: 100%;
	padding-left: 0;
	padding-right: 0;
}

.topContent{
	border-bottom: 0;
}

.bodyBkg{
	background-image: none;
}

.contentLeftData{
	border-top: 0;
}

.adminNav a{
	width: 13% !important;
	font-size: 14px;
	text-align: center;
}

.adminNav a.aNavOn:link,
.adminNav a.aNavOn:visited,
.adminNav a.aNavOn:hover,
.adminNav a.aNavOn:active{
	background-color: #cfcfcf;
}

.adminNav a.aNav:hover, .adminNav a.aNav:active{
	background-color: #cfcfcf;
}

.adminNav a:last-child{
	margin-right: 0;
}

.adminNav a[href="index.php?nav=calendar"],
.adminNav a[href="index.php?nav=coaches"],
.adminNav a[href="index.php?nav=donations"],
.adminNav a[href="index.php?nav=reports"]
{
	display: none;
}

.header{
	background-color: #31597c;
	width: 100%;
	background-image: none;
	height: auto;
}
.headerWrap{

	margin: 0 auto;
	overflow: hidden;
	display: flex;
	align-items: center;
  justify-content: center;
}

.headerWrap > div{
	
}

.headerLeft{
	width: 25%;
}

.headerMiddle{
	width: 50%;
	text-align: center;
	padding: 10px 0;
}

.headerMiddle img{
	padding: 0;
	max-width:157px;
	height: auto;
}

.headerRight{
	width: 25%;
}
.socialIcons{
	margin: 0;
	padding: 0;
	text-align: right;
}
.socialIcons li{
	list-style: none;
	display: inline-block;
	margin-left: 15px;
}

.socialIcons li a{
	color: #fff;
	font-size: 18px;
}

.footerContentTop .socialIcons{
	text-align: left;
}

.contactInfo{
	margin: 0;
	padding: 0;
}

.contactInfo li{
	list-style: none;
	color: #fff;
	font-size: 14px;
}

.contactInfo li i{
	color: #f7941e;
	margin-right: 5px;
}

.suggestionsWrap{
	padding-left: 0;
	padding-right: 0;
	border: 0;
}

.footer{
	border-top: 0;
}
.footerContent{
	display: none;
}
.footerContentTop{
	background-color: #275A7E;
}

.footerContentTop img{
	padding: 0;
	margin: 0;
}

.footerContentBottom{
	background-color: #fda527;
}

.footerContentTopWrap{
	display: flex;
	width: 980px;
	margin: 0 auto;
	padding: 10px 0;
}

.footerContentTopLeft{
	width: 50%;
	text-align: center;
}

.footerContentTopLeft ul{
	display: inline-block;
}

.footerContentTopLeft{
	padding-top: 15px;
}

.footerContentTopLeft .socialIcons{
	margin: 30px 0;
}

.footerContentTopLeft .socialIcons li{
	margin: 0 15px;
}

.footerContentTopRight{
	width: 50%;
	padding-top: 15px;
	padding-bottom:  15px;
}

.footerContentTopRight h4{
	color: #fff;
	font-size:24px;
	margin-bottom: 20px;
	font-family: "Roboto", sans-serif;
	font-weight: 400;
}

.footerContentTopRight ul,
.footerContentTopRight li{
	list-style: none;
	margin: 0;
	padding: 0;
}

.footerContentTopRight li{
	color: #fff;
	font-size: 16px;
	font-family: "Roboto", sans-serif;
    font-weight: 400;
    overflow: hidden;
    margin-bottom: 10px;
    display: flex;
    align-items: center;
  justify-content: left;
}


.footerContentTopRight li span{
	display: inline-block;
	padding-right: 20px;
}
.footerContentTopRight li:last-child{
	margin-bottom: 0;
}
.footerContentTopRight li i{
	font-size: 28px;
	color: #fda527;
}

.footerContentTopRight li a{
	color: #fda527;
}


.footerContentBottom{
	text-align: center;
}
.footerContentBottom{
	padding: 25px 0;
}

.footerContentBottomWrap{
	width: 980px;
	margin: 0 auto;
}
.footerContentBottom p,
.footerContentBottom a{
	color: #fff;
	font-family: "Roboto", sans-serif;
    font-weight: 400;
    font-size: 16px;
    margin: 0;
    line-height: 25px;
}

.footerContentBottom p{
	margin-bottom: 20px;
}

.footerContentBottom ul,
.footerContentBottom li{
	margin: 0;
	padding: 0;
	list-style: none;
}

.footerContentBottom ul{
	font-size: 0;
	max-width: 80%;
	display: block;
	margin: 0 auto;
}

.footerContentBottom li{
	display: inline-block;
	width: 33.3%;
}



.contentFullData{
	border-top: 0;
}

.pagination{
	padding: 20px 0;
}

form[name="frmAddDesigner"] div:last-child{
	max-width: 80%;
}